.navbar {
  width: 100%;
  height: 60px;
  background: #b79004;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.btn {
  background: white;
  color: #0047ab !important;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
}

.logout-btn {
  background: #f6d45c;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #febe1c;
}
